{% extends 'administrators/admin_base.html' %}

{% load static %}

{% block title %}
    Додати запис
{% endblock %}

{% block content %}
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <h2 class="mb-5">Додати запис</h2>
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="form-label">{{ form.name_of_patient }}</div>
                            </div>
                            <div class="form-group">
                                <div class="form-label">{{ form.name_of_doctor }}</div>
                            </div>
                            <div class="form-group">
                                <div class="form-label">{{ form.name_of_procedure }}</div>
                            </div>
                            <div class="form-group">
                                <div class="form-label">{{ form.hour }}</div>
                            </div>
                            <div class="form-user">
                                <button type="submit" class="btn btn-primary shadow_head">Зберегти</button>
                                <a class="btn btn-danger shadow_head" href="{% url 'workers' %}">Скасувати</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}