{% extends 'administrators/admin_base.html' %}


{% load static %}

{% block title %}
    Головна сторінка
{% endblock %}

{% block content %}
    <div style="width: 50%; margin-left: 30%; margin-top: 50px;">
        <div style="font-size: 20px;" align="left">
            <p><b>Статус:</b> {{ status }}</p>
        </div>
        {% if status == 'Менеджер' %}
            <p><b>Співробітники</b> - таблиця лікарів з можливістю додати лікаря.</p>
            <p><b>Пацієнти</b> - таблиця пацієнтів.</p>
            <p><b>Записи</b> - таблиця записів на прийом до лікаря.</p>
            <p><b>Кабінети</b> - таблиця кабінетів з можливістю додати новий.</p>
            <p><b>Процедури</b> - таблиця процедур з можливістю додати процедуру за спеціальністю лікаря.</p>
        {% else %}
            <p><b>Співробітники</b> - таблиця лікарів.</p>
            <p><b>Пацієнти</b> - таблиця пацієнтів.</p>
            <p><b>Записи</b> - таблиця записів на прийом до лікаря з можливістю додати новий.</p>
            <p><b>Кабінети</b> - таблиця кабінетів.</p>
            <p><b>Процедури</b> - таблиця процедур.</p>
        {% endif %}
    </div>
{% endblock %}
