{% extends "clients/base.html" %}

{% load static %}

{% block title %}
    Записатись
{% endblock %}

{% block styles %}
    <link type="text/css" href="{% static 'css/make_appointment.css' %}" rel="stylesheet"/>
    <link type="text/css" href="{% static 'css/doctor_view.css' %}" rel="stylesheet"/>
    <link type="text/css" href="{% static 'css/schedule.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <div style="width: 50%; align: center; margin:auto; padding-top:20px;">
        <ul class="days">
            <div style="margin-left: 20px;">Графік роботи:</div><br>
            {% for k, v in hours.items %}
                {% if k < 10 %}
                    {% if v == 'inactive' %}
                        <li>
                            <span class="inactive">&nbsp;{{k}}&nbsp;</span>
                        </li>
                    {% else %}
                        <li>
                            <span class="active">&nbsp;{{k}}&nbsp;</span>
                        </li>
                    {% endif %}
                {% else %}
                    {% if v == 'inactive' %}
                        <li>
                            <span class="inactive">{{k}}</span>
                        </li>
                    {% else %}
                        <li>
                            <span class="active">{{k}}</span>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
        <ul class="days">
            <li>
                <span class="inactive">&nbsp;&nbsp;&nbsp;</span>&nbsp;- зайнято
                <br>
            </li>

            <li>
                <span class="active">&nbsp;&nbsp;&nbsp;</span>&nbsp;- вільно
            </li>
        </ul>
    </div>

    <div style="margin-top: 30px;">
        <div align="center" style="font-size: 20px;">
            <b>Доступні процедури</b>
        </div>

        <table border="1" align="center" id="example" class="table table-striped table-bordered" style="width:50%; background-color: white;">
            <thead class="thead-dark">
                <tr class="thead-dark">
                    <th scope="row">Назва процедури</th>
                    <th scope="row">Тривалість(годин)</th>
                </tr>
            </thead>
            <tbody>
                {% for i in procedures %}
                    <tr>
                        <td>{{i.name}}</td>
                        <td>{{i.duration}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                    <h2 class="card-title text-center">Записатись на прийом</h2>
                        <form action="" method="post">
                            {% csrf_token %}
                                <div class="form-group">
                                    <div class="form-label">{{ form.name_of_procedure }}</div>
                                    <div class="form-label">{{ form.hour }}</div>
                                </div>

                                <div class="d-flex flex-row align-items-center justify-content-between">
                                    <button type="submit" class="btn btn-primary shadow_head">Зберегти</button>
                                    <a class="btn btn-danger shadow_head" href="{% url 'workers' %}">Скасувати</a>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
    <script type="text/javascript" src="{% static 'js/filter.js' %}"></script>
{% endblock %}
