{% extends 'clients/base.html' %}
{% load static %}

{% block title %}
    Мої записи
{% endblock %}

{% block content %}
    <table border="1" align="center" id="example" class="table table-striped table-bordered" style="width:80%; background-color: white; margin-top: 50px;">
        <thead class="thead-dark">
            <tr class="thead-dark">
                <th scope="row">Ім'я лікаря</th>
                <th scope="row">Назва процедури</th>
                <th scope="row">Година</th>
                <th scope="row">Скасувати</th>
            </tr>
        </thead>
        <tbody>
            {% for user in appointments %}
                <tr>
                    <td>{{user.name_of_doctor}}</td>
                    <td>{{user.name_of_procedure}}</td>
                    <td>{{user.hour}}</td>
                    <td align="center">
                        <form action="" method="post" class="like-form" id="{{user.id}}">
                            {% csrf_token %}
                            <button type="submit" style="background-color: #F73636; border: none; border-radius: 10px; width: 100px; height: 40px;">Скасувати</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot class="thead-dark">
            <tr class="thead-dark">
                <th scope="row">Ім'я лікаря</th>
                <th scope="row">Назва процедури</th>
                <th scope="row">Година</th>
                <th scope="row">Скасувати</th>
            </tr>
        </tfoot>
    </table>
{% endblock %}

{% block scripts %}
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
    <script type="text/javascript" src="{% static 'js/delete_appointment.js' %}"></script>
{% endblock %}
