<div class="sidebar">
    Магазини
    {% for shop in shops %}
        <div>
            <input class="filter-checkbox" data-filter="shops" id="{{shop}}" value="{{shop}}" type="checkbox">
            <label for="{{key}}"><b>{{shop}}</b></label>
        </div>
    {% endfor %}
    <hr>
    Категорії
    {% for key, value in categories.items %}
        <div>
            <input class="filter-checkbox" data-filter="categories" id="{{key}}" value="{{key}}" type="checkbox">
            <label for="{{key}}"><b>{{value}}</b></label>
        </div>
    {% endfor %}
    <hr>
    Країни
    {% for country in countries %}
        <div>
            <input class="filter-checkbox" data-filter="country" id="{{country}}" value="{{country}}" type="checkbox">
            <label class="change_letter" for="{{country}}"><b>{{country}}</b></label>
        </div>
    {% endfor %}
</div>
